<div class="jumbotron">
    <h1>Foundatio Samples</h1>
    <p class="lead">A sample application that shows off some of the features of foundatio</p>
    <p><a href="https://github.com/exceptionless/Foundatio" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Caching</h2>
        <p>Attempt to get the value from the cache</p>
        <p><a class="btn btn-default" onclick="getValue(_guid)">Get Value</a></p>
    </div>
    <div class="col-md-4">
        <h2>File storage and Jobs</h2>
        <p>Post a value which will save the file and queue the work item to a dedicated job</p>
        <p>
            <a class="btn btn-default" onclick="postValue(_guid)">Post Value</a>
            <a class="btn btn-default" onclick="postValue(guid())">Post Random Value</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Work Item Job</h2>
        <p>Attempt to delete the item via a work item.</p>
        <p><a class="btn btn-default" onclick="deleteValue(_guid)">Delete Value</a></p>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        function guid() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random()*16|0, v = c === 'x' ? r : (r&0x3|0x8);
                return v.toString(16);
            });
        }

        function getValue(value) {
            console.log('getValue(' + value + ')');
            $.get('api/values/' + value, function(data, status){
                console.log('Data: ' + data + ' Status: ' + status);
            });
        }

        function postValue(value) {
            console.log('postValue(' + value + ')');
            $.ajax({
                type: "POST",
                data :JSON.stringify(value),
                url: "api/values",
                contentType: "application/json"
            });
        }

        function deleteValue(value) {
            console.log('deleteValue(' + value + ')');
            $.ajax({
                type: "DELETE",
                url: 'api/values/' + value
            });
        }

        var _guid = guid();
    </script>
}